<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include ../partials/_header %>

<!--     <a href="HOMEPAGE"></a> -->

    <h3>New ShortURL: <%= url.shortURL %> </h3>
    <h3>Original LongURL: <%= url.longURL %> </h3>

    <div>
      <ul><li> <a href="/urls">go to: Home Index</a>
      </li>
      <li> <a href="/urls/new">go to: Create a New Shortened URL.</a>
      </li>
      </ul>
    </div>

    <form action="/urls/<%= url.shortURL %>?_method=PUT" method="POST" style="margin:150px;">
        <label for="editedURL">Edit your URL:</label>
        <input id="editedURL" type="text" name="editedURL" placeholder="<%= url.longURL %>" style="width: 300px">
        <input type="submit" value="Submit">
    </form>

  </body>
</html>







<!--
<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include ../partials/_header %>

  </body>
</html> -->



<!-- Implement the above template to display 1) a list or table of shortened links, 2) a link to shorten a new URL




