<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include ../partials/_header %>

    <form action="/urls/<%= shortURL %>?_method=PUT" method="POST" style="margin:150px;">
        <label for="editedURL">Edit your URL:</label>
        <input id="editedURL" type="text" name="editedURL" placeholder="http://" value="<%= longURL %>" style="width: 300px">
        <input type="submit" value="Submit">
    </form>

  </body>
</html>







<!--
<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include ../partials/_header %>

  </body>
</html> -->



<!-- Implement the above template to display 1) a list or table of shortened links, 2) a link to shorten a new URL




