<!DOCTYPE html>
<html lang="en">
<body>

  <% include ../partials/_header %>

  <% for (var key in shortURL) { %>
  <%=shortURL[key]%>
  <% } %>

</body>
</html>



<!-- Implement the above template to display 1) a list or table of shortened links, 2) a link to shorten a new URL




